.gates-container {
    overflow: hidden;
    white-space: nowrap;
    width:100%;
    padding: 2vw;
    justify-content: center;
    margin:auto;
}
.navbar {
    margin: 0 auto;
    width: 100%;
    z-index: 2;
}

.body-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: auto;
    margin-bottom: 1vw;
    margin-top: 1vw;
}
.info-container {
    display: flex;
    width: 60%;
    height: 34vw;
    flex-direction: column;
}

.table-container {
    display: flex;
    flex-direction: column;
    width: 96.5%;
    height: 17vw;
    background: #FFFFFF;
    border-radius: 1vw;
    margin-top: .75vw;
}
.image-container {
    display: flex;
    width: 37%;
    height: 34.8vw;
    background: #FFFFFF;
    border-radius: 1vw;
    margin: .75vw;
    margin-left: 1vw;
    justify-content:center;
}

.text {
    margin:1vw 0 0 1vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2vw;
    text-align: center;
    color: #000000;
    white-space: nowrap;
}

.line{
    width: 60%;
    border-bottom: .15vw solid black;
    margin: .5vw auto 1vw auto;
}

table {
    margin: 0 auto;
    width: 90%;
    empty-cells: show;
    border-collapse:collapse
}
tr {
    min-height: 3vw;
}
    tr:first-child th {
        border-bottom: .15vw solid black;

    }


th {
    min-height: 3vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2vw;
    color: #000000;
    white-space: nowrap;
    border-right: .15vw solid black;
}
    th:last-child {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 1.2vw;
        color: #000000;
        white-space: nowrap;
        border-right: 0px solid black;
    }
td {
    min-height: 3vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2vw;
    color: #000000;
    white-space: nowrap;
    border-right: .15vw solid black;
}
    td:last-child {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 1.2vw;
        color: #000000;
        white-space: nowrap;
        border-right: 0px solid black;
    }
    td:empty:after {
        content: '.';
        color: transparent;
        visibility: hidden;
    }
.image {
    overflow:hidden;
    width: 100%;
    max-width:100%;
    height: auto;
    margin: 1vw;
}
